<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LiteDB" version="3.1.1" targetFramework="net47" />
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net45" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="3.5.8" targetFramework="net47" />
  <package id="Tungsten" version="2.0.0" targetFramework="net47" />
  <package id="Tungsten.Domains" version="1.2.0" targetFramework="net47" />
  <package id="Tungsten.IO.Pipes" version="2.0.0" targetFramework="net47" />
  <package id="Tungsten.LiteDb" version="2.0.0" targetFramework="net47" />
  <package id="Tungsten.Net" version="2.0.0" targetFramework="net47" />
</packages>